<div id="modal" style="display: none;">
    <div id="modal-inner">
        <div id="modal-image">
            <!-- <img goes here> -->
        </div>
        <div class="controls">

            <div class="controls-links">
                Download:
                <a id="modal-download-link-full" href="#" target="_blank">Full size</a>
                <a id="modal-download-link-medium" href="#" target="_blank">Medium</a>
            </div>

            <div class="controls-buttons">
                <button id="modal-prev" disabled>&larr;</button>
                <button id="modal-close" onclick="modal_close();">Close</button>
                <button id="modal-next" disabled>&rarr;</button>
            </div>

        </div>
    </div>
</div>
