@use "sass:map";
@use './theme';

.album-collection {
    padding: 0 0 2rem 0;
}

.album-year {

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:not(:first-child) {
        margin-top: 4rem;
    }

    h2 {
        text-align: center;
    }

}

.album-list,
.image-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.album-list {
    justify-content: center;
}

.album-item {
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
}

.album-cover {

    width: 250px;
    height: 250px;
    border: 1px solid map.get( theme.$colors, "gray-47" );

    .album-cover-text {

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        width: 100%;

        .album-cover-text-inner {
            padding: 10px;
            background-color: rgba( 0, 0, 0, 0.6 );
        }

        color: map.get( theme.$colors, "white" );
        text-shadow: 1px 1px map.get( theme.$colors, "black" );

        .album-cover-text-date {
            font-size: 12px;
        }

        .album-cover-text-title {
            font-size: 20px;
            font-weight: bold;
        }

    }

}

.album-header {

    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
	text-align: center;

    .album-header-inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 10rem 1rem;
        background-color: rgba( 0, 0, 0, 0.3 );
    }

    h1, div, p {
        color: map.get( theme.$colors, "white" );
        text-shadow: 1px 1px map.get( theme.$colors, "black" );
    }

    h1 {
		font-size: 48px;
		line-height: 1em;
		margin: 0 0 1rem 0;
	}

    p {
        margin: 0;
    }

}

.image-gallery {

    justify-content: center;
    align-items: center;

    img {
        border: 1px solid map.get( theme.$colors, "gray-47" );
    }
}

// --- NON-MOBILE --------------------------------------------------------------

@media only screen and (min-width: theme.$breakpoint-desktop) {

    .album-collection,
    .image-gallery {
        padding: 0 4rem 3rem 4rem;
    }

    .album-year-title {
        padding-right: 1rem;
        border-right: 1px solid map.get( theme.$colors, "gray-47" );
    }

    .album-year {
        flex-direction: row;
    }

    .album-list {
        flex-direction: row;
        justify-content: left;
    }

    .image-gallery {
        flex-direction: row;
        justify-content: center;
    }

    .album-cover {
        margin: initial;
    }

}
